<div class="card">
  <ul class="text-muted post-title row">
<li class="col-2">icon</li>
<li class="col-9">Title</li>
<li class="col-1"> * * *</li>
  </ul>
    <img src="http://placeimg.com/600/200/any" class="card-img-top" alt="placeholder image">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <div class="text-muted row justify-content-between">
        <span class="col-3">Добавьте комантарий...</span> 
        <a href="#" class="col-3 text-success">Опубликовать</a>
      </div>
    </div>
  </div>
